body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100%;
}

main{
    display: grid;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    bottom: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0074d9;
}

h2 estados-label{
    display: grid; 
}

#links{
    display: grid;
    padding: 7px;
}